@charset "UTF-8";

form {
    font-size: 12px;
}

.process-error {
    padding: 1.5em 3.5em;
    border: 3px solid red;
    background-color: white;
    text-align: center;
}

#shippingInfo p {
    text-align: center;
}

#billingDiv input {
    width: 150px;
}

#billingDiv {
    width: 266px;
    margin-left: -25px;
    display: none;
}

input, select, .cc_label {
    margin-bottom: 10px;
}

input[type="text"] {
    float: right;
    width: 150px;
    height: 23px;
    text-indent: 3px;
}

input[type="tel"] {
    float: right;
    width: 150px;
    height: 23px;
    text-indent: 3px;
}

select[type="text"] {
    float: right;
    height: 23px;
    width: 154px;
    vertical-align: middle;
}

input[type="number"] {
    text-indent: 3px;
    width: 150px;
    height: 23px;
}

select {
    float: right;
    width: 76px;
}

label {
    float: left;
    padding-left: 30px;
}

input[type="text"]:valid ~ .input-validation::before, input[type="tel"]:valid ~ .input-validation::before, select:valid ~ .input-validation::before {
    content: '';
    display: block;
    width: 4px;
    height: 10px;
    border: solid green;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}

.input-validation {
    z-index: 99;
    float: right;
    padding-right: 8px;
    margin-left: 280px;
    margin-top: -30px;
}

input[type="text"]:valid, input[type="tel"]:valid, select:valid {
    border: 1px solid #0dbd04!important;
    -webkit-box-shadow: 0 0 2px 1px #0dbd04!important;
    -moz-box-shadow: 0 0 2px 1px #0dbd04!important;
    box-shadow: 0 0 2px 1px #0dbd04!important;
}

.postsubmit:invalid {
    border: 1px solid red!important;
    -webkit-box-shadow: 0 0 2px 1px red!important;
    -moz-box-shadow: 0 0 2px 1px red!important;
    box-shadow: 0 0 2px 1px red!important;
}

#cvv label {
    margin-top: 7px;
}

#ecvv label {
    margin-top: 7px;
}

#cvv_link {
    position: relative;
    top: 8px;
    display: none;
}

input[type="text"].mobile-element {
    width: 80%;
    margin: 3px 5%;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    height: 1.6em;
    font-size: 30px;
    -webkit-appearance: none;
}

input[type="tel"].mobile-element {
    width: 80%;
    margin: 3px 5%;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    height: 1.6em;
    font-size: 30px;
    -webkit-appearance: none;
}

select.mobile-element {
    width: 90%;
    margin: 3px 5%;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    height: 60px;
    font-size: 30px;
    background-color: white;
    -webkit-appearance: none;
}

label.mobile-element {
    font-weight: 500;
    color: black;
    font-size: 26px;
    -webkit-appearance: none;
}

#billingDiv.mobile-element {
    width: 100%;
    margin-left: 0;
}

#billingDiv.mobile-element input {
    width: 80%;
}

div#billing-info.mobile-element p, div#billing-info.mobile-element span {
    font-size: 20px;
    text-align: center;
}

div#billing-info.mobile-element #billing-btn {
    margin: 0 0 0 40%;
}

div#billing-info.mobile-element #billing-btn input {
    margin-right: 10%;
}

.mobile-element.input-validation::before {
    display: none;
}

.exit {
    margin-right: 30px;
}

.expyear_row, .expmonth_row {
    display: inline-block;
    width: 28%;
}

.form_row {
    display: table;
    vertical-align: middle;
}

.cvv_row {
    width: 60px;
    display: inline-block;
}
