body {
    background: #fff;
    overflow-x: auto;
    min-width: 1080px;
}

#outer-wrapper {
    background: url(../img/brand/default/bg.jpg) top center no-repeat;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

#warning {
    top: 0px;
    height: 71px;
    /*width: 1200px;*/
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    width: 1200px;
    color: #000;
    border: 2px solid #d03704;
}

#warning p {
    text-align: center;
    margin: 0 auto;
    color: #3b3b3b;
    font-size: 16px;
    line-height: 21px;
    position: relative;
    top: 15px;
    font-weight: 500;
}

#warning .warning-word {
    font-weight: bold;
}

#wrapper, #top-inner {
    width: 998px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

h2 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 700;
    color: #bfbfbf;
    text-shadow: 1px 1px 5px #000;
    line-height: 31px;
}

h3 {
    font-size: 20px;
    color: #6186e3;
    font-weight: 300;
}

p {
    font-size: 13px;
    line-height: 18px;
    color: #fff;
}

.arrow {
    padding-right: 5px;
    width: 16px;
    height: 16px;
}

#product-place {
    width: 346px;
    height: 312px;
    /*margin: 0 auto;*/
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: 389px;
    z-index: 5;
}

#arrow-place {
    width: 685px;
    /*height:312px;*/
    /*margin: 0 auto;*/
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: 324px;
    z-index: 3;
}

#top-inner h1 {
    font-size: 43px;
    color: #37b500;
}

#top-inner p {
    font-size: 16px;
}

.after:after {
    content: '';
    display: block;
    clear: both;
}

#form {
    background: url(../img/form-bg.jpg) top center no-repeat;
    position: absolute;
    width: 312px;
    height: 665px;
    top: 27px;
    right: 1px;
    z-index: 10;
    font-family: 'Open Sans', Arial;
    z-index: 2;
}

#form a {
    color: #66cc33;
}

#form .timer {
    position: absolute;
    top: 25px;
    left: 61px;
    font-size: 20px;
}

#form .timer span {
    color: white;
    background: black;
    border-radius: 5px;
    padding: 8px 5px;
    margin-right: 2px;
    font-weight: bold;
}

#form form .text {
    position: relative;
    display: block;
    height: 42px;
}

form {
    text-align: right;
    font-size: 12px;
    padding: 125px 18px 0 0;
}

input[type="text"], input[type="tel"], select[type="text"], #fields_state {
    height: 35px !important;
    width: 185px !important;
    margin-left: 8px;
    margin-right: 8px;
    text-indent: 10px !important;
    border: 1px solid #ccc;
    float: none !important;
    vertical-align: initial !important;
    box-sizing: border-box;
}

#form form select {
    width: 186px;
    height: 26px;
    margin-right: 8px;
    margin-left: 9px;
}

@-webkit-keyframes boxBlink {
    0% {
        -webkit-box-shadow: 0px 0px 6px 1px #21c91e;
    }

    50% {
        -webkit-box-shadow: 0px 0px 2px 1px #21c91e;
    }

    100% {
        -webkit-box-shadow: 0px 0px 6px 1px #21c91e;
    }
}

.form-button {
    position: relative;
    top: 40px;
    left: 14px;
    width: 278px;
}

.form-button .arrow {
    position: absolute;
    left: 50px;
    top: 25px;
}

input[type="submit"] {
    width: 100%;
    background: url(../img/form-btn.png) top center no-repeat;
    text-align: right;
    font-size: 22px;
    color: #fff;
    border: none;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    padding: 24px 0px 24px 20px;
    cursor: pointer;
    text-indent: -9999px;
}

input[type="submit"]:hover {
    background: url(../img/form-btn-on.png) top center no-repeat;
}

.form-button:active .arrow {
    /*top: 30px;*/
}

.form-button:hover:before {
    background: #ffae00;
}

#fields_state {
}

::-webkit-input-placeholder {
    font-style: italic;
    font-size: 11px;
    font-family: arial;
}

:-moz-placeholder {
    font-style: italic;
    font-size: 11px;
    font-family: arial;
}

:-ms-input-placeholder {
    font-style: italic;
    font-size: 11px;
    font-family: arial;
}

#respect {
    position: relative;
    right: 26px;
}

.logo, .container {
    position: absolute;
}

#top {
    width: 100%;
    height: 812px;
    position: relative;
}

#top .hurry-badge {
    bottom: 302px;
    left: 199px;
    z-index: 10;
}

#top-inner {
    height: 100%;
    /*overflow: hidden;*/
}

#reminder {
    overflow: hidden;
    width: 335px;
    height: 85px;
    position: absolute;
    bottom: 120px;
    left: 322px;
}

#reminder #reminder-inner {
    background: #00cada;
    width: 325px;
    font-family: 'Montserrat', Arial;
    font-size: 13px;
    text-align: center;
    padding: 13px 0px;
    position: absolute;
    bottom: -105px;
    border-top: 1px solid #047692;
    border-left: 1px solid #047692;
    border-right: 1px solid #047692;
    bottom: 0px;
}

#reminder #reminder-inner p {
    line-height: normal;
    opacity: 0;
    color: #000;
}

#section-1 {
    position: relative;
    padding-top: 40px;
}

#section-1 .content {
    width: 495px;
}

#section-1 h2, #section-1 .content {
    padding-left: 49px;
}

#section-2 {
    position: relative;
    padding-top: 595px;
    padding-bottom: 525px;
}

#section-2 .content {
    position: absolute;
    right: 170px;
    width: 435px;
}

#section-2 .content h2 {
    padding-bottom: 59px;
    position: relative;
    left: -70px;
}

#section-2 .content ul li:nth-child(1) {
    padding-top: 7%;
    position: relative;
    right: -10px;
}

#section-2 .content ul li:nth-child(2) {
    padding-top: 21%;
    position: relative;
    right: -90px;
}

#section-2 .content ul li:last-child {
    padding-top: 23%;
    position: relative;
    right: -180px;
}

#section-2 .content ul li img {
    position: relative;
    left: -15px;
    padding-bottom: 5px;
}

#section-2 .prod {
    left: 40px;
    bottom: 75px;
    width: 332px;
}

#section-3 .content {
    width: 390px;
    margin-left: 47px;
}

#section-3 .content h2 {
    padding-bottom: 85px;
}

#section-3 .content p {
    padding-bottom: 20px;
}

#section-4 {
    position: relative;
    padding-top: 135px;
    padding-bottom: 700px;
}

#section-4 .content {
    position: absolute;
    width: 490px;
    right: 50px;
}

#section-4 .content h2 {
    padding-bottom: 30px;
}

#section-4 .content p {
    padding: 60px 0 25px 0;
}

#btm {
    position: relative;
    padding-top: 200px;
    height: 1000px;
}

#btm .cta {
    /*background: url(../img/cta.jpg) no-repeat;*/
    width: 100%;
    height: 115px;
    clear: both;
    position: absolute;
    bottom: 6px;
}

#btm .cta a {
    position: relative;
    margin: 0 auto;
    display: table;
    right: 42px;
    top: 21px;
    float: Right;
}

#btm .badge {
    /*width:287px;*/
    top: 13px;
    right: 50px;
    position: relative;
    float: right;
}

#btm .hurry-badge {
    bottom: 302px;
    left: 447px;
    z-index: 10;
}

#btm .lp-prod {
    width: 380px;
    left: 210px;
    bottom: 25px;
}

#btm a {
    width: 271px;
    height: 75px;
    right: 65px;
    bottom: 120px;
    background: url(../img/form-btn.png) top center no-repeat;
    font-size: 22px;
    color: #fff;
    border: none;
    text-indent: -9999px;
    position: absolute;
    display: block;
}

.legal {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    font-family: arial;
    height: 90px;
    margin: 50px auto 100px auto;
    width: 75%;
    padding-bottom: 20px;
}

.legal p {
    color: #000;
}

footer {
    font-family: arial;
    margin: 0 auto;
    top: -65px;
    color: #8a8a8a;
    font-size: 11px;
    padding-bottom: 40px;
    text-transform: uppercase;
}

footer p a {
    color: #8a8a8a;
    font-size: 11px;
}

footer p {
    text-align: center;
    clear: both;
    font-size: 11px;
    color: #8a8a8a;
}

#popover {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
}

#mb10cus {
    opacity: 1;
}

#overlay {
    position: fixed;
    background: #000;
    opacity: .5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#pop-box a {
    width: 700px;
    height: 450px;
    margin: 100px auto;
    font-size: 24px;
    text-align: center;
    position: relative;
    z-index: 2;
    display: block;
}

#pop-box a .close {
    position: absolute;
    top: 15px;
    right: 15px;
}

#down-btn {
    top: 342px;
    right: 364px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #outer-wrapper {
        background-size: 155%;
        margin: 0 auto;
        width: 100%;
        min-width: 1300px;
        overflow: hidden;
    }

    #warning {
        min-width: 1300px;
    }
}

.index-top-logo {
    top: 74px;
    right: 402px;
    position: absolute;
    width: 180px;
    background-color: #00D2F8;
    border-radius: 5px;
}

.index-top-bottle {
    bottom: -24px;
    left: -60px;
    width: 350px;
    position: absolute;
}

label {
    float: none !important;
    padding-left: 0 !important;
}

span.input-validation {
    box-sizing: initial;
    position: absolute;
    float: right;
    right: 10px;
    margin: 0;
    top: 9px;
}


#spinner-content > p {
    color: black;
}

select {
    border-radius: 0px;
    background: white;
    -webkit-appearance: none;
    -moz-appearance: none;
}



#footer > div > div > div, #footer > div > div > div > a {
    color: #8a8a8a !important;
}


#footer > div > footer > p > a.modalClick {
    color: #8a8a8a !important;
}
