body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c4755+0,000000+100 */
    background: #0c4755; /* Old browsers */
    background: -moz-linear-gradient(top, #0c4755 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0c4755 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0c4755 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c4755', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    background-attachment: fixed;
    overflow-x: auto;
    min-width: 980px;
}

.after:after {
    content: "";
    display: block;
    clear: both;
}

.pink {
    color: #b32079;
}

.red {
    color: #00b2c0;
}

.it {
    font-style: italic;
}

#wrapper {
    width: 698px;
    margin: 0px auto;
    position: relative;
    background: white;
    font-family: 'Open Sans', sans-serif;
    box-shadow: #000000 0px -62px 41px -8px;
    -webkit-box-shadow: #000000 0px -62px 41px -8px;
    -moz-box-shadow: #000000 0px -62px 41px -8px;
    -ms-box-shadow: #000000 0px -62px 41px -8px;
}

.f20 {
    font-size: 20px;
}

.f18 {
    font-size: 18px;
}

.f14 {
    font-size: 14px;
    line-height: 18px;
}

.blue {
    color: #00cac0;
}

.pink {
    color: #a145a4;
}

.green {
    color: #66cc33;
}

.grey-1 {
    color: #555;
}

.grey-2 {
    color: #5a5a5a;
}

.orange {
    color: #f96401;
}

.red {
    color: #ed145b;
}

#steps {
    margin-bottom: 20px;
}

.b-r3 {
    border-radius: 0px 3px 3px 0px;
}

.b-l3 {
    border-radius: 3px 0px 0px 3px;
}

#wrapper #banner {
    border-bottom: 1px solid #b2b2b2;
    height: 94px;
    background: #000;
}

#wrapper #banner #steps {
    width: 295px;
    height: 5px;
    top: 40px;
    left: 315px;
    background: #3c3c3c;
    position: absolute;
    text-align: center;
}

#wrapper #banner #steps #ty-slider {
    height: 3px;
    width: 143px;
    background: #00b2c0;
    position: relative;
    top: 1px;
}

#wrapper #banner #steps ul {
    position: relative;
}

#wrapper #banner #steps .step {
    width: 20px;
    height: 20px;
    background: #3c3c3c;
    box-shadow: 0 0 0px 3px #3c3c3c;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 50%;
}

#wrapper #banner #steps ul li .step-name {
    position: relative;
    left: -25px;
    padding-top: 8px;
    font-weight: 600;
}

#wrapper #banner #steps .step-1 .step-name, #wrapper #banner #steps .step-2 .step-name {
    color: #5a5a5a;
    left: -43px;
}

#wrapper #banner #steps .step-3 .step-name {
    color: #5a5a5a;
}

#wrapper #banner #steps .step-1, #wrapper #banner #steps .step-2, #wrapper #banner #steps .step-3 {
    top: -8px;
    position: absolute;
    z-index:;
}

#wrapper #banner #steps .step-1 {
    left: -20px;
}

#wrapper #banner #steps .step-2 {
    left: 142px;
}

#wrapper #banner #steps .step-3 {
    right: -82px;
}

#wrapper #banner #steps .step-1 div, #wrapper #banner #steps .step-2 div {
    background: #00b2c0;
    transition: background 3s;
    -webkit-transition: background 3s;
    -ms-transition: background 3s;
}

#wrapper #banner #steps .thank-you div {
    transition: background 2s;
    -webkit-transition: background 2s;
    -ms-transition: background 2s;
}

#wrapper #banner #steps .step p {
    position: relative;
    z-index: 10;
    top: 3px;
}

#ty-msg {
    width: 100%;
    padding: 45px 0 45px 0px;
    border-bottom: 1px solid #b2b2b2;
}

#ty-msg p {
    margin-bottom: 3px;
    padding-left: 40px;
}

#thank-you {
    width: 100%;
    height: 520px;
    float: right;
}

#line {
    background: #b2b2b2;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 627px;
    left: 0px;
}

#billing {
    background: white;
    width: 300px;
    height: 355px;
    margin-right: 60px;
    float: right;
    padding-top: 37px;
}

#billing h1 {
    color: #00b2c0;
    font-size: 18px;
}

#order-info {
    padding: 30px 0;
}

#prod {
    position: relative;
    top: 30px;
    left: 45px;
    width: 245px;
}

#billing-inner {
    font-size: 14px;
    line-height: 20px;
}

.bb {
    border-bottom: 1px solid #dbdada;
}

.br {
    border-right: 1px solid #acacac;
}

#totals {
    width: 100%;
    float: right;
}

#total {
    margin-top: 10px;
}

#dedicated {
    padding-top: 20px;
    width: 658px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 17px;
    font-family: 'Open Sans', Arial;
}

#dedicated p {
    width: 85%;
    display: inline-block;
    padding-left: 10px;
}

#dedicated img {
    display: inline-block;
    vertical-align: -110%;
}

#terms {
    font-size: 10.5px;
    line-height: 16px;
    color: #aaaaaa;
    width: 622px;
    margin: 0 auto;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    clear: both;
    padding-top: 45px;
}

footer {
    font-family: 'Open Sans', sans-serif;
    width: 225px;
    margin: 0px auto;
    position: relative;
    color: #fff;
    padding-top: 60px;
    font-size: 12px;
    text-transform: uppercase;
}

footer p a {
    color: #fff;
}

footer p {
    text-align: center;
    clear: both;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #outer-wrapper {
        background-size: 135%;
        margin: 0 auto;
        width: 100%;
        min-width: 1300px;
        overflow: hidden;
    }
}

#prod2 {
    position: relative;
    top: 71px;
    left: 106px;
    width: 133px;
}


.thanklogo {
    position: absolute;
    top: 4px;
    left: 38px;
    width: 173px;
    background-color: #00D3E4;
    border-radius: 5px;
}

.wait-box .price-row {
    padding: 1.25rem 0.625rem;
    background: #d7d7d7;
    color: #000;
    font-weight: bold;
    font-size: 1.375rem;
    text-align: center;
}

.button-wrap {
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    text-align: center;
}

.button {
    padding: 5px;
    border-radius: 5px;
    background: #ed145b;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 2em;
}

.button-wrap .btn_nothankyou {
    color: #959595;
    text-decoration: underline;
    display: inline-block;
    margin-top: 25px;
}

.button-wrap .encryption {
    font-size: 0.8125rem;
    color: #575656;
    margin-top: 1.25rem;
}

.text-center {
    text-align: center !important;
    background-color: #fff;
    padding: 15px 0;
    color: #464646;
}


#wrapper > div:nth-child(2) > div:nth-child(4) > div:nth-child(1) > div > a.btn_nothankyou.upsell-button {
    font-size: 0.7em;
}
