body {
    background: #fff;
}

#wrapper {
    width: 320px;
    margin: 0 auto;
    font-family: 'Open Sans', helvetica;
    overflow-x: hidden;
}

.blue-two {
    color: #3cc1cc;
}

.red {
    color: red;
}

.f11 {
    font-size: 11px;
}

.f12 {
    font-size: 12px;
}

.w50 {
    width: 49%;
}

.n-input {
    width: 96%;
}

.s-input {
    width: 91%;
}

.s-inputs {
    width: 31%;
    position: relative;
    top: -5px !important;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

#banner img {
    width: 100%;
}

#steps-1 {
    width: 100%;
}

#check {
    width: 5%;
    position: relative;
    top: 2px;
    left: 2px;
    padding-right: 5px;
}

#approved {
    padding: 15px 12px 7px 12px;
    border-bottom: 1px solid #d6d6d6;
}

#approved-content {
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    color: #5a5a5a;
}

#approved-content p {
    margin-bottom: 13px;
}

#approved-2 {
    padding: 10px 20px;
    border-bottom: 1px solid #d6d6d6;
    color: #000000;
    background-color: #eeeeee;
}

#approved-content-2 {
    font-size: 11px;
    line-height: 18px;
}

#approved-content-2 h1 {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

#approved-content-2 h2 {
    font-size: 13px;
    text-align: center;
}

#prod-info {
    font-size: 11px;
    line-height: 18px;
    padding-bottom: 10px;
}

#prod-info p:first-child {
    margin-bottom: 5px;
}

#form-info {
    padding: 0px 20px 0 20px;
}

#price-info {
    font-size: 11px;
    width: 60%;
    position: relative;
    top: 20px;
}

#price-info > div p {
    line-height: 16px;
}

#prices {
    clear: both;
    border-top: 1px solid #dddcdc;
    padding: 10px 10px 15px 0;
}

#price-info div > div:first-child {
    position: relative;
    left: 0px;
    width: 100%;
}

#price-info div > div:nth-child(2), #price-info div > div:last-child {
    width: 100%;
}

#price-info > div > div:first-child p:last-child, #price-info > div > div:nth-child(2) p:last-child {
    padding-right: 16px;
}

#price-info > div > div:last-child p:last-child {
    padding-right: 10px;
}

#bottle {
    width: 42%;
    position: relative;
    top: 19px;
    margin-left: -17px;
}

#submission-info {
    clear: both;
    padding-top: 20px;
    position: relative;
    z-index: 10;
}

#form {
    padding: 13px 20px 0 20px;
}

.shipping {
    position: absolute;
    left: 40%;
    width: 54%;
    padding-top: 10px;
}

#shipping-icon {
    background-color: #ededed;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    height: 40px;
    width: 100%;
}

#shipping {
    font-size: 10px;
    padding-bottom: 3px;
    display: inline-block;
}

#shipping label {
    vertical-align: 25%;
}

#hidden-fields {
    display: none;
}

#hidden-fields input[type="text"], #hidden-fields input[type="number"] {
    margin-bottom: 5px;
    -webkit-appearance: none;
    border-radius: 0;
}

#hidden-fields select {
    margin-bottom: 4px;
    margin-top: 8px;
    -webkit-appearance: none;
    border-radius: 0;
    height: 27px;
}

#cards {
    margin: 0 auto;
    font-size: 12px;
    padding: 10px 0px 0px 0;
    color: #5a5a5a;
    position: relative;
    right: 3px;
    top: 0px;
    text-align: right;
    float: right;
    display: inline-block;
    vertical-align: top;
    margin-top: -10px;
    margin-bottom: 0px !important;
}

#cards > img {
    width: 62%;
    position: relative;
}

#form div {
}

form label {
    font-size: 11px;
    color: #5a5a5a;
    display: block;
}

form select {
    width: 99%;
    height: 30px;
    margin-top: 7px;
    padding-left: 7px;
    -webkit-appearance: none;
    border-radius: 0;
    height: 27px;
}

.s-select {
    width: 49%;
}

#cvv-img {
    width: 64%;
    position: relative;
    top: 4px;
}

input[type="text"], input[type="number"], input[type="tel"] {
    height: 19px;
    padding: 3px 0 3px 7px;
    border: 1px solid #929292;
    margin-top: 7px;
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="submit"] {
    border: 1px solid #ff0000;
    background: #fb0000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fb0000, #b00000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fb0000, #b00000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fb0000, #b00000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fb0000, #b00000); /* Standard syntax */
    width: 87%;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: "Open Sans", arial;
    font-size: 22px;
    color: #fff;
    /*font-weight: bold;*/
    border-radius: 3px;
    padding: 15px 35px 15px 35px;
    cursor: pointer;
}

input[type="submit"]:active:hover {
    border: 1px solid #fb9f00;
    background: #fb9f00; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fb9f00, #e05e01); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fb9f00, #e05e01); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fb9f00, #e05e01); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fb9f00, #e05e01); /* Standard syntax */
}

.arrow {
    position: absolute;
    left: 13%;
    margin-top: -34px;
    width: 3.5%;
}

#secure {
    width: 53%;
    margin: 0 auto;
    display: block;
    padding-bottom: 10px;
    padding-top: 15px;
}

#security {
    width: 53%;
    margin: 0 auto;
    display: block;
    padding-bottom: 10px;
    padding-top: 15px;
}

#terms {
    font-size: 10px;
    line-height: 14px;
    padding: 15px 20px 25px 20px;
    color: #a5a5a5;
    text-align: justify;
}


/* --- form --- */

#opt_in_form {
    display: flex;
    flex-direction: column;
}

#opt_in_form div.form_row {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#opt_in_form label {
    margin: 0;
}

#opt_in_form .input-validation {
    display: none;
}

#opt_in_form input, #opt_in_form select {
    width: 100%;
    float: none;
}

#form_start {
    margin: 0;
    width: 100%;
}

/* -- Exp Date -- */

#billingDiv {
    margin: 0 !important;
}

#billingDiv > br, #shippingInfo > br {
    display: none;
}

#billingDiv > p {
    margin-bottom: 5%;
}

#form_start .cards {
    width: 50%;
    margin: 0% 0% 0% 0%;
    float: right;
}

#form_start #cc_number {
    width: 95%;
}

#form_start > div:nth-child(3) {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#form_start > div:nth-child(3) > label {
    width: 100%;
}

#form_start div.expmonth_row, #form_start div.expyear_row {
    width: 48%;
    margin: 0;
}

#form_start div.expyear_row {
    margin-left: 2%;
}

#form_start #cvv, #form_start #ecvv {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#form_start #cc_cvv {
    width: 35%;
}

#billing-info > p {
    font-size: 0.5em;
    text-align: center;
    padding-bottom: 1%;
}

#billing-btn {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 10pt;
    margin-bottom: 5%;
    text-align: center;
    justify-content: center;
}

#billing-btn input {
    margin: 0;
    width: 10%;
}

#cvv > label, #ecvv > label {
    width: 100%;
}

.cvv_row {
    margin: 0;
}



#cvv-img {
    width: 59%;
    position: static;
    margin-left: 1%;
    margin-bottom: 3px;
}

#cvv > div, #ecvv > div {
    display: none;
}

#form_start > br:nth-child(5), #form_start > br:nth-child(6) {
    display: none;
}

#cp-btn-holder {
    margin-top: 0 !important;
}



#billing_state {
    width: 103% !important;
}

#opt_in_form #cardtype {
    width: 98%;
}

/* footer */

#footer > div {
    display: none;
}

#footer > ul.footer_nav {
    display: none;
}

footer .copy {
    text-align: center;
    color: #9b9b9b;
    font-size: 0.8em;
    margin-top: 0;
}

footer p.footnavLinks {
    text-align: center;
    margin-bottom: 0;
}

footer a.footLink {
    background: none;
    text-decoration: none;
    font-size: 11px;
    width: 100%;
    margin: 0 auto;
    line-height: 1.3em;
    color: #9b9b9b;
    text-align: center;
}


#btm > footer > div.terms > div {
    color: #9b9b9b;
    font-size: 0.7em;
    margin: 0 11%;
}

#ctlabel {
}

#insurebox{
    display: flex;
}

#insuredShipping {
    font-size: .55em;
    margin-bottom: 1%;
    width: 100%;
    display: flex;
    align-items: center;
}

#insuredShipping span{
    margin-left: 2px;
}

#insuredShipping > input[type="checkbox"] {
    width: 4%;
    margin: 0 0 0% 0;
}
