body {
    font-family: "Open Sans", arial;
    background-color: #030303;
}

#wrapper {
    overflow-x: hidden;
}

#wrapper > div {
    width: 100%;
    margin: 0 auto;
}

.header {
    color: #2e2e2e;
    font-size: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000101+0,003e44+100 */
    background: rgb(0,1,1); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,1,1,1) 0%, rgba(0,62,68,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,1,1,1) 0%,rgba(0,62,68,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,1,1,1) 0%,rgba(0,62,68,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000101', endColorstr='#003e44',GradientType=0 ); /* IE6-9 */
    border-top: 1px solid #028089;
    border-bottom: 1px solid #028089;
    padding: 0% 12%;
    margin-bottom: 25px;
}

.header img {
    width: 72%;
}

.header h2 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.hide {
    text-indent: -99999px;
}

.after:after {
    content: '';
    display: block;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.top {
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    background: url(https://images.templatemgr.com/templates/svm9/img/top.min.jpg) no-repeat;
    background-size: 100%;
}

p {
    color: white;
}

#banner {
    background: #c23135;
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 100%;
    height: 10%;
}

#inner-banner {
    width: 320px;
}

#inner-banner > #flag {
    width: 7%;
    position: relative;
    top: 13px;
    right: 32px;
}

#inner-banner p {
    font-size: 11px;
    position: relative;
    top: 15px;
    left: 75px;
    color: white;
}

.img-full {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.img-no-full {
    width: 90%;
}

.counter {
    width: 74%;
    margin: 0 auto;
    display: block;
    margin-bottom: 1.5%;
}

.logo {
    position: absolute;
    width: 25%;
    top: 2.4%;
    left: 5%;
}

.badge {
    position: absolute;
    width: 27%;
    top: 24%;
    right: 41.5%;
    z-index: 4;
}

.prod {
    position: absolute;
    width: 40%;
    top: 27%;
    left: 4.5%;
    z-index: 3;
}

#top {
    position: relative;
}

#top-content {
    margin-top: 100%;
    background: url('https://images.templatemgr.com/templates/svm9/img/bg.min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.down-arrow {
    padding-top: 6%;
    padding-bottom: 5%;
}

.down-arrow .arrow {
    display: block;
    margin: 0 auto;
}

.down-arrow .arrow:first-child {
    width: 14%;
    opacity: 1;
    -webkit-animation: flashyArrow 1.5s infinite;
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.down-arrow .arrow:nth-child(2) {
    width: 14%;
    margin-top: -2%;
    opacity: 1;
    -webkit-animation: flashyArrow 1.5s infinite;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.down-arrow .arrow:last-child {
    width: 14%;
    margin-top: -2%;
    opacity: 1;
    -webkit-animation: flashyArrow 1.5s infinite;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

@keyframes flashyArrow {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flashyArrow {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#sec-2-content h1 img, #sec-4-content h1 img, #sec-5-content h1 img {
    width: 80%;
}

#sec-2-content h1 > span, #sec-4-content h1 > span, #sec-5-content h1 > span {
    position: absolute;
}

#sec-2-content, #sec-4-content, #sec-5-content {
    font-size: 11px;
    position: relative;
}

#sec-2-content > #muscles {
    display: block;
    margin: 0 auto;
    width: 118%;
    position: relative;
    left: -24px;
    top: -15px;
}

#section-2 p {
    /*width:90%;*/
    text-align: justify;
}

#section-2 img {
    background-size: cover;
}

#section-3 {
    background-color: black;
    margin-top: 0px !important;
}

#section-3 .sub-header {
    width: 42%;
}

#sec-3-content {
    padding: 0% 0 0% 0;
}
/*#sec-3-content img{
  padding:5% 0 5% 0;
}*/
#sec-3-content .sub-content {
    padding-bottom: 25px;
}

#sec-4-content {
    /*padding:3% 0 0% 0;*/
}

#sec-4-content .header img {
    width: 97%;
}

#sec-4-content img {
    padding: 15px 0px 0px 0px;
}

#NO {
    width: 100%;
    padding: 0 0 10px 0;
}

#sec-4-sub-content {
    position: relative;
    left: -24px;
    width: 118%;
    margin-top: 2%;
}

#steps {
    width: 118%;
    position: relative;
    left: -24px;
    margin-top: -20px;
}

#sec-5-sub-content {
    width: 118%;
    position: relative;
    left: -24px;
}

#sec-5-content .counter {
    margin-top: 5%;
}

#btm-img {
    width: 100%;
    margin-top: -15%;
}

#btm .counter {
    margin-top: 5%;
}

#btm {
    padding-top: 0%;
    /*padding-bottom:4%;*/
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    background: url(https://images.templatemgr.com/templates/svm9/img/btm.min.png) no-repeat;
    background-size: 100%;
    height: 274px;
}

@media screen and (min-width: 768px) {
    #btm {
        height: 550px;
    }
}

@media screen and (min-width: 1024px) {
    #btm {
        height: 750px;
    }
}

#btm .badge-img {
    width: 83%;
}

#btm .logo {
    left: 55%;
    position: absolute;
    top: 30%;
    width: 30%;
}

#btm .prod {
    position: absolute;
    width: 41%;
    top: 38%;
    right: 9.5%;
    z-index: 3;
}

.cta-arrow {
    padding-right: 5px;
    width: 16px;
    height: 16px;
}

#cta {
    width: 100%;
    padding: 0% 0% 5% 0%;
    background: #007592;
    position: fixed;
    bottom: 0%;
    left: 0px;
    z-index: 10;
    transition: bottom 1s;
}

#cta a {
    border: 1px solid #ff0000;
    background: #fb0000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fb0000, #b00000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fb0000, #b00000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fb0000, #b00000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fb0000, #b00000); /* Standard syntax */
    width: 78%;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: "Open Sans", arial;
    font-size: 1.5em;
    color: #fff;
    /*font-weight: bold;*/
    border-radius: 3px;
    padding: 15px 35px 15px 35px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    #cta a {
        font-size: 3em;
    }

    .cta-arrow {
        width: 20px;
        height: 32px;
    }
}

#cta a:active:hover {
    border: 1px solid #fb9f00;
    background: #fb9f00; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fb9f00, #e05e01); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fb9f00, #e05e01); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fb9f00, #e05e01); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fb9f00, #e05e01); /* Standard syntax */
}

#cta .security {
    width: 50%;
    margin-top: -15px;
}

#security-tag {
    padding: 0px 0px 10px 0;
    margin: 0 auto;
    width: 100%;
    color: lightgrey;
    margin-top: -10px;
}

#security-tag p {
    /*display:inline;*/
    padding: 0px;
    text-align: center;
    font-size: 10px;
    color: lightgrey;
}

#security-tag img {
    vertical-align: -11% !important;
    width: 3.7% !important;
}

footer {
    padding-bottom: 25px;
    padding-top: 0px !important;
    background-color: white;
}

footer .footer-holder {
    padding-top: 25px;
}

footer a, footer a:active:hover, footer a:hover {
    background: none;
    text-decoration: none;
    color: #9b9b9b;
}

footer p {
    color: #9b9b9b;
    text-align: center;
    /*padding-top: 15px;*/
    /*padding-bottom:15px;*/
    margin-bottom: 0px;
}

#terms {
    font-size: 11px;
    line-height: 14px;
    padding: 20px 30px 25px 30px;
    color: #a5a5a5;
    text-align: left;
}

#downsell {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}

#downsell .downsell-btn {
    position: relative;
    z-index: 1000;
    width: 85%;
    margin: 30% auto;
    display: block;
}

#downsell .close-img {
    width: 7%;
    right: 1%;
    top: -4%;
    position: absolute;
    z-index: 1002;
}

#downsell a img {
    width: 100%;
}

#downsell a .prod {
    width: 35%;
    top: 39%;
    left: 5%;
    position: absolute;
}

#downsell #overlay {
    background: #000;
    opacity: .7;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

@media (min-width: 360px) {
    #sec-2-content, #sec-4-content, #sec-5-content {
        font-size: 13px;
    }

    #top-content {
        margin-top: 100%;
    }

    #banner {
        height: 9%;
    }

    #btm-img {
        width: 100%;
        margin-top: -10%;
    }

    #sec-2-content > #muscles, #sec-3-bg, #sec-4-sub-content, #sec-5-sub-content, #steps {
        width: 116%;
    }

    #inner-banner {
        margin-top: 5px;
        width: 320px;
    }
}

@media (min-width: 375px) {
    #top-content {
        margin-top: 103%;
    }

    #sec-2-content, #sec-4-content, #sec-5-content {
        font-size: 13px;
    }

    #banner {
        height: 9%;
    }

    #sec-1-content h1, #sec-4-content h1, #sec-5-content h1 {
        margin-bottom: 22px;
    }

    #btm-img {
        margin-top: -10%;
    }
}

@media (min-width: 414px) {
    #sec-2-content, #sec-4-content, #sec-5-content {
        font-size: 14px;
    }

    #inner-banner {
        width: 389px;
    }

    #inner-banner p {
        font-size: 14px;
    }
}

@media (min-width: 480px) {
    #top-content {
        margin-top: 123%;
    }

    #sec-2-content, #sec-4-content, #sec-5-content {
        font-size: 17px;
    }

    #banner {
        height: 21%;
    }
}

@media (min-width: 568px) {
    #top-content {
        margin-top: 123%;
    }

    a {
        padding: 25px 0;
    }

    #banner {
        height: 25%;
    }

    #sec-2-content > #muscles, #sec-3-bg, #sec-4-sub-content, #sec-5-sub-content, #steps {
        width: 110%;
    }

    h1 {
        margin-top: 50px;
        margin-bottom: 45px !important;
    }

    #inner-banner {
        margin-top: 10px;
        width: 475px;
    }

    #inner-banner p {
        font-size: 19px;
    }
}

@media (min-width: 640px) {
    #sec-2-content, #sec-4-content, #sec-5-content {
        font-size: 24px;
    }

    #top-content {
        margin-top: 152%;
    }

    #sec-2-content > #muscles, #sec-3-bg, #sec-4-sub-content, #sec-5-sub-content, #steps {
        width: 109%;
    }

    h1 {
        margin-top: 20px;
        margin-bottom: 15px !important;
    }

    #inner-banner {
        margin-top: 15px;
        width: 495px;
    }

    #inner-banner p {
        font-size: 20px;
    }
}

@media (min-width: 667px) {
    #sec-2-content, #sec-4-content, #sec-5-content {
        font-size: 25px;
    }

    #top-content {
        margin-top: 100%;
    }
}

@media (min-width: 736px) {
    #sec-2-content, #sec-4-content, #sec-5-content {
        font-size: 28px;
    }

    #inner-banner img {
        width: 16%;
    }

    #inner-banner {
        margin-top: 20px;
        width: 565px;
    }

    #inner-banner p {
        font-size: 22px;
    }
}

#terms > div {
    font-size: 1em;
    color: #9b9b9b;
    text-align: center;
    padding-top: 5px;
}

.scienceLine {
    font-size: 0.8em;
    color: white;
    opacity: 0.85;
    text-shadow: -1px -1px 2px rgba(150, 150, 150, 1);
}

@media screen and (min-width: 768px) {
    .scienceLine {
        font-size: 1.8em;
    }

    #sec-3-content .sub-content {
        font-size: 2em;
    }
}



#footer > div {
    display: none;
}

#footer > ul {
    display: none;
}
