body {
    background: #fff;
}

.wait {
    font-weight: bold;
    font-size: 12px;
    background-color: #ff0000;
    padding: 7px 0 7px 0;
    color: white;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
}

#banner {
    height: 29px;
}

#wrapper {
    width: 320px;
    margin: 0 auto;
    font-family: 'Open Sans', helvetica;
    position: relative;
    overflow-x: hidden;
}

#confirm {
    padding: 15px 20px 15px 20px;
    /*border-bottom: 1px solid #d6d6d6;*/
    background: red;
}

#confirm h2 {
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-bottom: 2px;
    text-align: center;
}

#confirm p {
    font-size: 11px;
    line-height: 16px;
    color: #5a5a5a;
}

#thank-you {
    padding: 15px 20px 50px 20px;
    background: #fff;
}

#thank-you #ty-msg > a {
    background: url(../img/ty-msg.jpg) no-repeat;
    width: 100%;
    height: 148px;
    background-size: 100%;
    display: block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin-bottom: 20px;
}

#thank-you #ty-msg > p {
    text-align: center;
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 20px;
    color: #5a5a5a;
}

#thank-you #ty-msg > h2 {
    font-weight: bold;
    font-size: 12px;
    color: #ff0000;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}

#purple-area {
    padding: 0px 5% 0px 5%;
    background-color: #007592;
}

#up-lock-two {
    width: 5%;
}

input[type="submit"] {
    border: 1px solid #ff0000;
    background: #fb0000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fb0000, #b00000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fb0000, #b00000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fb0000, #b00000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fb0000, #b00000); /* Standard syntax */
    width: 95%;
    border: none;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: "Open Sans", arial;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    padding: 15px 35px 15px 58px;
    cursor: pointer;
}

input[type="submit"]:active:hover {
    border: 1px solid #fb9f00;
    background: #fb9f00; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fb9f00, #e05e01); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fb9f00, #e05e01); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fb9f00, #e05e01); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fb9f00, #e05e01); /* Standard syntax */
}

.arrow {
    position: absolute;
    left: 17%;
    margin-top: -38px;
    width: 6%;
}

#no-thanks {
    width: 180px;
    padding-top: 5px;
    margin: 0px auto;
}

#no-thanks > img {
    vertical-align: -15%;
    width: 7%;
}

#no-thanks a {
    color: lightgrey;
    font-size: 11px;
}

#security-tag {
    padding: 10px 0 10px 0;
    margin: 0 auto;
    color: lightgrey;
}

#security-tag p {
    text-align: center;
    font-size: 10px;
}

#thank-you #ty-msg > h2 {
    font-weight: bold;
    font-size: 12px;
    color: #ff0000;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}

#security-tag img {
    vertical-align: -20%;
    width: 3.7%;
}

#security {
    width: 53%;
    margin: 0 auto;
    display: block;
    padding-bottom: 10px;
    margin-top: 10px;
}

#btm {
    background: white;
    color: white;
    padding-top: 10px;
}

#terms {
    padding: 20px 20px 25px 20px;
}

/* Custom */

#ty-msg .adbox {
    height: 123px;
    background-image: url(../img/upsell.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#ty-msg > div > div.left {
    width: 50%;
    float: left;
}

#ty-msg img.productImg {
    width: 80%;
    margin-top: 5%;
}


#ty-msg > div > div.right {
    width: 50%;
    float: right;
}

#ty-msg > div > div.right > p {
    color: white;
    font-size: 0.65em;
    padding: 25% 0% 0% 0%;
    margin: 0% 5% 0% 0%;
    text-align: center;
    line-height: 1.25em;
}

.cyan-fg {
    color: cyan;
}

.ucase {
    text-transform: uppercase;
}

.bold{
    font-weight: bold;
}




/* footer */

#footer > div {
    display: none;
}

#footer > ul.footer_nav {
    display: none;
}

footer .copy {
    text-align: center;
    color: #9b9b9b;
    font-size: 0.8em;
    margin-top: 0;
}

footer p.footnavLinks {
    text-align: center;
    margin-bottom: 0;
}

footer a.footLink {
    background: none;
    text-decoration: none;
    font-size: 11px;
    width: 100%;
    margin: 0 auto;
    line-height: 1.3em;
    color: #9b9b9b;
    text-align: center;
}


#btm > footer > div#terms > div {
    color: #9b9b9b;
    font-size: 0.7em;
    margin: 0 11%;
}
